<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <startup.serviceModel>
    <service name="GOGameLogic.CardGame">
      <endpoint name="GameService"
                  address="http://localhost:13200/GOGameLogic/GameService"
                  binding="wsDualHttpBinding"
                  contract="GOContracts.IGame" />
    </service>
  </startup.serviceModel>
</configuration>