<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="GOGameLogic.GoFish">
        <endpoint name="GameService"
                    address="http://localhost:13200/GOGameLogic/GameService"
                    binding="wsDualHttpBinding"
                    contract="GOContracts.IGame" />
      </service>
    </services>
  </system.serviceModel>
</configuration>