<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <startup.serviceModel>
    <service name="CardsLibrary.Shoe">
      <!--<endpoint name="ShoeService"
                  address="net.tcp://localhost:13200/CardsLibrary/ShoeService"
                  binding="netTcpBinding"
                  contract="CardsLibrary.IShoe" />-->

      <!-- Mar 23, 2016 : Switched from basicHttpBinding to wsDualHttpBinding
        to support the use of a duplex communication channel which is required for 
        client callbacks -->
      <endpoint name="ShoeService"
                  address="http://localhost:13200/CardsLibrary/ShoeService"
                  binding="wsDualHttpBinding"
                  contract="CardsContracts.IShoe" />
    </service>
  </startup.serviceModel>
</configuration>