<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="GameService"
                address="http://127.21.8.132:80/GOGameLogic/GameService"
                binding="wsDualHttpBinding"
                contract="GOContracts.IGame" />
    </client>
  </system.serviceModel>
</configuration>