<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <!--TCP-->
      <endpoint name="GameService"
                  address="net.tcp://localhost:13200/CardsLibrary/GameService"
                  binding="netTcpBinding"
                  contract="GOContracts.IGame" />
      <!--HTTP-->
      <!--<endpoint name="GameService"
                address="http://172.21.8.132:80/CardsLibrary/GameService"
                binding="wsDualHttpBinding"
                contract="GOContracts.IGame" />-->
    </client>
  </system.serviceModel>
</configuration>